<%= provide(:title, 'Edit user') %>
<%= provide(:button_text, 'Save Change') %>
<h1>Update your profile</h1>
<div class="row">
  <div class='col-1 col-sm-3'></div>
  <div class='col-10 col-sm-6'>
    <%= render 'form' %>
  </div>
  <div class='col-1 col-sm-3'></div>
</div>
