/* universal */

body {
  display: flex;
  flex-direction: column;
}
header{ 
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* footer */

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-right: 105px;
}
.index{
  margin-top: 100px;
}

/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.img-size {
  width:100%;
}
.space{
  margin-top: 10px;
}
.flex{
  display:flex;
  flex-wrap: wrap;
}
.side-space{
  margin-top:5%;
  margin-left: 5%;
}

@media screen and (min-width: 992px) {
	.mmu{
    margin-left: 10%;
  }
  .mmc{
    margin-left: 200px;
  }
}